<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css" integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr" crossorigin="anonymous">  

    <title>Contact Us</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/contact.css')}}">    

</head>
<body>
    
     <div class="main">   
    <div class="Container">
        <div class="contactInfo">
            <p>Contact Us</p>
            <div class="ref">
                <li><a href="/">REGISTER</a></li> 
                </div>

            <div class="box">
                 <div class="contactform">
                        <form>
                            <h2>Send Request</h2>
                            <div class="inputBox">
                                <input type="Full name" name="name" placeholder="Enter fullname here">
                
   
                            </div>
                            <div class="inputBox">
                                <input type="Emailid" name="Emailid" placeholder="Enter Email here">
                
   
                                
                            </div>
                            <div class="inputBox">
                               <br> <label for="Name">Type your Request:</label>
                                <input type="text" id="Name" name="Name">


                            </div>
                            <div class="inputBox">
                                <button class="btnn">Send</button>

                                
                            </div>

                        </form>
                        
                     </div>
        

            </div>
        </div>
     </div>
    
</body>
</html>