<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <form action="{{ url_for('addrec') }}" method="POST">
        <h1  align="center">SIGN UP</h1>
        <div class="menu" align="center">
            <div>
                <table align="center" cellpadding = "10">
                    <!----- Name ---------------------------------------------------------->
                   <tr>
                   <td>NAME</td>
                   <td><input type="text" name="NAME" placeholder="name" maxlength="30"/>
                   </td>
                   </tr>
                    <!----- Email id ---------------------------------------------------------->
                   <tr>
                   <td>EMAILID</td>
                   <td><input type="text" name="EMAIL" placeholder="Email id" maxlength="30"/>
                   </td>
                   </tr>
                    <!----- Mobile Number ---------------------------------------------------------->
                   <tr>
                   <td>MOBILE NUMBER</td>
                   <td>
                   <input type="text" name="MOBILE" placeholder="Mobile no" maxlength="10" />
                   </td>
                   <!----- City ---------------------------------------------------------->
                   <tr>
                   <td>CITY</td>
                   <td><input type="text" name="CITY" placeholder="City" maxlength="30" />
                   </td>
                   </tr>
                   <!----- State ---------------------------------------------------------->
                   <tr>
                   <td>STATE</td>
                   <td><input type="text" name="STATE" placeholder="State" maxlength="30" />
                   </td>
                   </tr>
                        
                   <!----- Country ---------------------------------------------------------->
                   <tr>
                   <td>COUNTRY</td>
                   <td><input type="text" name="COUNTRY" placeholder="Country" />
                   </td>
                   </tr>

                   <!----- password ---------------------------------------------------------->
                   <tr>
                    <td>PASSWORD</td>
                    <td><input type="text" name="PASSWORD" placeholder="password" />
                    </td>
                    </tr>
                   
                <!----- signup ------------------------------------------------->
                 </table>
                <tr>
                <td colspan="2"><input type="submit" class="submit" class="btn btn-outline=dark" value="Signup" /></td>
                
                </tr>     
            </div>
        </div>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
